body{
    text-align: center;
    background-color: aquamarine;
    font-size:30px;
    
}
image{
    height: 100px;
    width: 60px;
}
#intro{
    background-color: beige;
}
    
    
    